# ----------------------------------------------------------------------------
# Codacy Analysis CI Workflow
# This workflow performs static analysis with Codacy to ensure code quality and security.
# It runs on every push and pull request to the trunk branch to ensure consistent commit history.
# ----------------------------------------------------------------------------

name: Codacy Analysis CI

on:
  push:
    branches: [ "trunk" ]
  pull_request:
    branches: [ "trunk" ]

jobs:
  codacy-analysis-cli:
    name: Codacy Analysis CLI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Codacy Analysis CLI
        uses: codacy/codacy-analysis-cli-action@97bf5df3c09e75f5bcd72695998f96ebd701846e
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          verbose: true